<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.zyq"/>
    <mvc:annotation-driven/>
    <!--<mvc:default-servlet-handler/>-->

    <!-- 视图解析器 -->
    <!-- ViewResolver -->
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView" />

        <!-- 前缀：/WEB-INF/jsp/ 后缀：.jsp /WEB-INF/jsp/list.jsp -->
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

   <!-- <bean id="viewResolver"
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">

        &lt;!&ndash; 前缀：/WEB-INF/jsp/ 后缀：.jsp /WEB-INF/jsp/list.jsp &ndash;&gt;
        <property name="prefix" value="/" />
        <property name="redirectHttp10Compatible" value="false" />
    </bean>-->


    <!-- 2.处理器适配器 配置HttpRequestHandlerAdapter ，要求handler必须实现HttpRequestHandler接口 -->
<!--
    <bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"/>
-->

</beans>